
.etiqueta
  background-color: #FFCE7E
  color: #000

.bg01
  background-image: url("../assets/curso/tema1/img1.svg") 
  background-repeat: no-repeat
  background-size: contain
  background-position-y: center

.bg02
  background-image: url("../assets/curso/tema2/img03.svg") 
  background-repeat: no-repeat
  background-size: contain
  background-position: center

.bg2
  background-color:#EBF5E7

.bg3
  background-color: #FFD63D
  border-radius: 14px

.cajon.color-acento-contenido
  background-color: #FFF3C6

.dual-txt-deco
  position: relative
  &::after
    content: ""
    position: absolute
    top: -10px
    left: -10px
    width: 45%
    height: 107%
    background-color:#FFF7EA
    z-index: 0
  p 
    position: relative
    z-index: 1

.dual-txt-deco2
  position: relative
  &::after
    content: ""
    position: absolute
    top: 15px
    left: -10px
    width: 45%
    height: 88%
    background-color:#FFF7EA
    z-index: 0
  p 
    position: relative
    z-index: 1

.bloque-texto-g__img 
    width: 31%
    position: absolute

.bloque-texto-g__texto 
    position: relative
    width: 75%